[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
WorkingDirectory=/mnt/bookmarks
ExecStart=/usr/bin/gunicorn --workers 5 --bind unix:/run/gunicorn.sock ghproj.wsgi:application

[Install]
WantedBy=multi-user.target